<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam's Styles</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="./assets/shLogo.svg" />
        <h1>Sam's Styles</h1>
      </div>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./shop">Shop</a></li>
      </ul>
    </nav>
    <div class="hero">
      <h2>Welcome to Sam's Styles - Custom Creations & Digital Essentials!</h2>
      <p>
        Explore our collection of unique merchandise for marketing departments,
        businesses, and everyday life. Whether you're looking for designs
        basketball courts, or logos, we have something for you!
      </p>
      <h2>Need an Invoice? We've Got You Covered!</h2>
      <p>
        For business customers and professionals, our store offers automatic
        invoice generation for every purchase. Simply add your items to the
        cart, check out, and download your PDF invoice instantly. Perfect for
        expense tracking, tax deductions, and corporate purchases!
      </p>
      <a href="./shop">Browse, Buy & Download Instantly</a>
    </div>
  </body>
</html>
